html{
    box-sizing: border-box;
    font-family: 'Segoe UI', BlinkMacSystemFont, -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  *, *::before, *::after {
    box-sizing: inherit;
  }

  ul, li, h1, h2, h3, p, button {
    margin: 0;
  }

  ul {
    list-style: none;
  }

  button {
    background: transparent;
    border: 0;
    outline: 0;
  }

  body{
    height: 100vh;
    background-image: url("./images/library-background.jpg");
    background-size: cover;
    margin: 0 auto;
    max-width: 1000px;
    overscroll-behavior: none;
    width: 100%;
  }

  #app{
    background-color: transparent;
    background-image: url("./images/background-app.jpg");
    background-size: cover;
    box-shadow: 10px 0 10px 10px #2E2300, -10px 0px 10px 10px #2E2300;
    overflow-x: hidden;
    min-height: 100vh;
    padding-bottom: 10px;
  }

  